<% if task.comments.any? %>
  <table class="table table-bordered table-striped">
    <thread>
      <tr>
        <th>Comment</th>
        <th>Download link</th>
        <th>&nbsp;</th>
      </tr>
    </thread>
    <tbody>
      <% task.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    </tbody>
  </table>
<% end %>