<div id="<%= "#{project.id}t" %>">
  <% if project.tasks.active.any? %>
    <table class="tasks">
      <% project.tasks.active.each do |task| %>
        <%= render 'tasks/task', task: task, project: project %>
      <% end %>
    </table>
  <% end %>
</div>