<%provide(:title, "Edit project") %>
<h1>Edit the project</h1>
<div class="center">
  <%= render 'projects/project_form' %>
  <div class="project">
    <% if @project.tasks.any? %>
      <h2>Tasks:</h2>
      <%= render 'tasks/tasks', project: @project %>
      <%= render 'tasks/completed_tasks', project: @project %>
    <% end %>
  </div>
</div>

