<%provide(:title, "Projects") %>
<div class="row">
  <h1>Simple todo lists</h1>
  <h2>from <%= current_user.name %></h2>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <div class="projects" id="all_projects">
    here you will be able to find all projects list
  </div>
</div>
